#container {
    user-select: none;
}

.thumbnail {
    position: relative;
}

.overlay {
    position: absolute;
    left: 2%;
    top: 0;
    width: 96%;
    height: 100%;
    opacity: 70%;
}

.show {
    visibility: visible;  
}

.show:hover {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}